<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Mapchete</title>
    <style type="text/css">
    html, body {
        height: 100%;
        width: 100%;
        border: 0px;
        margin: 0px;
        padding: 0px;
    }
    #map {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border: 1px solid black;
        margin: 0px;
        padding: 0px;
    }
    .olImageLoadError {
        /* when OL encounters a 404, don't display the pink image */
        display: none !important;
    }
    </style>
    <script src="https://www.openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript">
        function extend(a, b){
            for(var key in b)
                if(b.hasOwnProperty(key))
                    a[key] = b[key];
            return a;
        }

        var map;
        function setDomElement(dom_element) {
 	        var text = "zoom " + map.getZoom();
		    if (dom_element.textContent) {
                dom_element.textContent = text;
            } else {
                dom_element.innerText = text;
            }
		}
        function init(){
            map = new OpenLayers.Map( 'map', {
                displayProjection: new OpenLayers.Projection("EPSG:{{srid}}")
            } );

            defaults = {
                {% if is_mercator %}
                matrixSet: 'g',
                sphericalMercator: true,
                maxExtent: new OpenLayers.Bounds(-20026376.39,-20048966.10,20026376.3,20048966.10),
                {% else %}
                matrixSet: 'WGS84',
                resolutions: [0.70312500000000000000,0.35156250000000000000,0.17578125000000000000,0.08789062500000000000,0.04394531250000000000,0.02197265625000000000,0.01098632812500000000,0.00549316406250000000,0.00274658203125000000,0.00137329101562500000,0.00068664550781250000,0.00034332275390625000,0.00017166137695312500,0.00008583068847656250,0.00004291534423828120,0.00002145767211914060,0.00001072883605957030,0.00000536441802978516],
                maxExtent: new OpenLayers.Bounds(-180.000000,-90.000000,180.000000,90.000000),
                {% endif %}
                style: 'default',
                requestEncoding: 'REST',
                units: "dd",
                projection: new OpenLayers.Projection("EPSG:{{srid}}".toUpperCase()),
                wrapDateLine: true
            }

            // Terrain light
            var options = extend(defaults, {
                url: "https://tiles.maps.eox.at/wmts/",
                name: "EOX::Maps Terrain Light",
                {% if is_mercator %}
                layer: 'terrain-light_3857',
                {% else %}
                layer: 'terrain-light',
                {% endif %}
                format: 'image/jpeg',
                isBaseLayer: true,
            });
            var terrain_light_wmts_layer = new OpenLayers.Layer.WMTS(options);
            map.addLayer(terrain_light_wmts_layer);

            // Sentinel-2 Cloudless 2023
            var options = extend(defaults, {
                url: "https://tiles.maps.eox.at/wmts/",
                name: "Sentinel-2 Cloudless 2023",
                {% if is_mercator %}
                layer: 's2cloudless-2023_3857',
                {% else %}
                layer: 's2cloudless-2023',
                {% endif %}
                format: 'image/jpeg',
                isBaseLayer: true,
            });
            var s2cloudless2023_wmts_layer = new OpenLayers.Layer.WMTS(options);
            map.addLayer(s2cloudless2023_wmts_layer);

            // Sentinel-2 Cloudless 2022
            var options = extend(defaults, {
                url: "https://tiles.maps.eox.at/wmts/",
                name: "Sentinel-2 Cloudless 2022",
                {% if is_mercator %}
                layer: 's2cloudless-2022_3857',
                {% else %}
                layer: 's2cloudless-2022',
                {% endif %}
                format: 'image/jpeg',
                isBaseLayer: true,
            });
            var s2cloudless2022_wmts_layer = new OpenLayers.Layer.WMTS(options);
            map.addLayer(s2cloudless2022_wmts_layer);

            // Sentinel-2 Cloudless 2021
            var options = extend(defaults, {
                url: "https://tiles.maps.eox.at/wmts/",
                name: "Sentinel-2 Cloudless 2021",
                {% if is_mercator %}
                layer: 's2cloudless-2021_3857',
                {% else %}
                layer: 's2cloudless-2021',
                {% endif %}
                format: 'image/jpeg',
                isBaseLayer: true,
            });
            var s2cloudless2021_wmts_layer = new OpenLayers.Layer.WMTS(options);
            map.addLayer(s2cloudless2021_wmts_layer);

            // Sentinel-2 Cloudless 2020
            var options = extend(defaults, {
                url: "https://tiles.maps.eox.at/wmts/",
                name: "Sentinel-2 Cloudless 2020",
                {% if is_mercator %}
                layer: 's2cloudless-2020_3857',
                {% else %}
                layer: 's2cloudless-2020',
                {% endif %}
                format: 'image/jpeg',
                isBaseLayer: true,
            });
            var s2cloudless2020_wmts_layer = new OpenLayers.Layer.WMTS(options);
            map.addLayer(s2cloudless2020_wmts_layer);

            // Sentinel-2 Cloudless 2019
            var options = extend(defaults, {
                url: "https://tiles.maps.eox.at/wmts/",
                name: "Sentinel-2 Cloudless 2019",
                {% if is_mercator %}
                layer: 's2cloudless-2019_3857',
                {% else %}
                layer: 's2cloudless-2019',
                {% endif %}
                format: 'image/jpeg',
                isBaseLayer: true,
            });
            var s2cloudless2019_wmts_layer = new OpenLayers.Layer.WMTS(options);
            map.addLayer(s2cloudless2019_wmts_layer);

            // Sentinel-2 Cloudless 2018
            var options = extend(defaults, {
                url: "https://tiles.maps.eox.at/wmts/",
                name: "Sentinel-2 Cloudless 2018",
                {% if is_mercator %}
                layer: 's2cloudless-2018_3857',
                {% else %}
                layer: 's2cloudless-2018',
                {% endif %}
                format: 'image/jpeg',
                isBaseLayer: true,
            });
            var s2cloudless2018_wmts_layer = new OpenLayers.Layer.WMTS(options);
            map.addLayer(s2cloudless2018_wmts_layer);

            // OSM
            var options = extend(defaults, {
                url: "https://tiles.maps.eox.at/wmts/",
                name: "OpenStreetMap",
                {% if is_mercator %}
                layer: 'osm_3857',
                {% else %}
                layer: 'osm',
                {% endif %}
                format: 'image/jpeg',
                isBaseLayer: true,
            });
            var osm_wmts_layer = new OpenLayers.Layer.WMTS(options);
            map.addLayer(osm_wmts_layer);

            // Coastline
            var options = extend(defaults, {
                url: "https://tiles.maps.eox.at/wmts/",
                name: "EOX::Maps Coastline",
                {% if is_mercator %}
                layer: 'coastline_3857',
                {% else %}
                layer: 'coastline',
                {% endif %}
                format: 'image/png',
                isBaseLayer: true,
            });
            var coastline_wmts_layer = new OpenLayers.Layer.WMTS(options);
            map.addLayer(coastline_wmts_layer);

            // processes
            {% for process_name in process_names -%}
                var options = extend(defaults, {
                    url: "/wmts_simple",
                    name: "{{process_name}}",
                    layer: "{{process_name}}",
                    format: 'image/png',
                    requestEncoding: 'REST',
                    isBaseLayer: false,
                });
                var {{process_name}}_layer = new OpenLayers.Layer.WMTS(options);
                map.addLayer({{process_name}}_layer);
                {%- endfor %}

            // Overlay
            var options = extend(defaults, {
                url: "https://tiles.maps.eox.at/wmts/",
                name: "EOX::Maps Base Overlay",
                {% if is_mercator %}
                layer: 'overlay_base_3857',
                {% else %}
                layer: 'overlay_base',
                {% endif %}
                format: 'image/png',
                isBaseLayer:false,
            });
            var overlay_wmts_layer = new OpenLayers.Layer.WMTS(options);
            map.addLayer(overlay_wmts_layer);

            // map.zoomToExtent(new OpenLayers.Bounds({{process_bounds}}));
            map.addControl(new OpenLayers.Control.LayerSwitcher());
            map.addControl(new OpenLayers.Control.MousePosition());
            map.addControl(new OpenLayers.Control.Permalink({anchor: true}));
            map.events.register("zoomend", map, function () {
                selectId = document.getElementById("currentZoom");
                setDomElement(selectId);
            });
        }
    </script>
  </head>

<body onload="init()">
    <div style="
    position: absolute;
    margin-top: 25px;
    margin-left: 46px;
    font-family: monospace;
    z-index: 1000;
    background-color: #fff;
    padding: 3px;
    opacity: 0.5;"><span id="currentZoom">zoom 2</span></div>
    <div id="map">
    </div>
</body>
</html>
