cachetools
cached_property
click>=7.1.1
click-plugins
click-spinner
fiona>=1.8b1
importlib-metadata
importlib-resources
numpy>=1.16
oyaml
retry
rasterio>=1.0.28
shapely
tilematrix>=0.20
tqdm
werkzeug>=0.15