aiobotocore>=1.1.2
aiohttp>=3.6.2
aioitertools>=0.7.0
boto3>=1.14.44
cachetools>=4.1.0
click>=7.1.1
click-plugins>=1.1.1
click-spinner>=0.1.10
dask
distributed
python-dateutil
fiona>=1.8.13.post1
Flask>=1.1.2,<=3.0.0
Flask-RangeRequest>=0.0.2
fsspec[http,s3]>=2023.12.0
importlib-metadata>=1.6.0
importlib-resources>=1.5.0
lxml>=4.5.0
matplotlib>=3.2.1
numpy>=1.16
oyaml>=0.9
pyproj
pydantic>=2.3.0
pydantic_settings>=2.0.0
retry>=0.9.2
rasterio>1.2.10
s3fs>2023.9.0
Shapely>=2.0.0
tilematrix>=2022.12.0
tqdm>=4.46.0
werkzeug>=0.15