aiobotocore>=1.1.2
aiohttp
boto3>=1.14.44
cachetools
click-plugins
click-spinner
click>=7.1.1
dask
distributed
fiona>=1.8.13.post1
flask-rangerequest
flask<4.0.0
fsspec
fsspec[http,s3]>=2023.12.0
fsspec[http]
fsspec[s3]
geojson-pydantic
importlib-metadata
importlib-resources
lxml
matplotlib
memray
numpy>=1.16
oyaml
pydantic-settings>=2.0.0
pydantic>=2.3.0
pyproj
pystac-client>=0.7.2
pystac[urllib3]>=1.8.2
python-dateutil
rasterio>1.2.10
requests
retry
rtree
s3fs!=2023.9.0
shapely>=2.0.0
tilebench
tilematrix>=2022.12.0
tqdm
werkzeug>=0.15
